article div:nth-child(1), article div:nth-child(2) {
	background-color: #270d0b;
	border: solid black 1px;
	border-top: none;
	color: wheat;
}

section{
	border-top: solid black 1px;
}

section:nth-child(1) {
	background-color: #3b1410;
	border-left: black solid 1px;
	border-top: none;
	color: wheat;
}

section:nth-child(2) {
	background-color: #4f1b15;
	border-right: black solid 1px;
	border-left: black solid 1px;
	border-top: none;
	color: wheat;
}

section:nth-child(3) {
	background-color: #63221b;
	border-left: black solid 1px;
	color: wheat;

}

section:nth-child(4) {
	background-color: #772820;
	border-right: black solid 1px;
	border-left: black solid 1px;
	color: wheat;
}


div:last-child {
	background-color: #9e4339;
	border: black solid 1px;
	color: wheat;
}

@media (min-width:768px) {

	article div:nth-child(1){
		background-color: #072a2b;
		border-left: none;
	}
	article div:nth-child(2){
		background-color: #0b3f41;
		border-left: none;
		border-right: none;
		border-top: none;
	}

	section:nth-child(1){
		background-color: #0f5457;
		border-left: none;
	}

	section:nth-child(2){
		background-color: #0b3f41;
	}

	section:nth-child(3){
		background-color: #12696d;
		border-left: none;
		border-top: none;
		border-right: solid black 1px;
	}

	section:nth-child(4) {
		background-color: #167e82;
		border: none;
	}


	div:last-child {
		background-color: #358c8f;
		border-left: none;
		border-bottom: none;
	}
}